* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}
body {
  font-family: 'Roboto-Regular';
}
main {
  height: 602px;
}
.wrapper-container {
  position: relative;
  overflow: hidden;
}
.ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open{
  background-color:rgba(255, 255, 255, 0.17) !important;
  z-index: 100 !important;
}
/* login page */
.bg-login {
  width: 100%;
  height: 768px;
  /* background-color: #eee; */
  background: url('../images/background-cf.jpg') no-repeat;
  background-size: 100%;
}
.login-box {
  font-family: 'Roboto-Bold';
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 5px 5px;
  width: 36%;
  height: auto;
  display: inline-block;
  text-align: center;
 /* overflow: hidden;*/
}
.login-box .icon-minus::before {
  position: absolute;
  color: #e8e8e8;
  right: -290px;
  top: -45px;
}
.filter-login-block {
  padding: 0 30px;
  margin-bottom: 30px;
}
.btn-login {
  width: 100%;
  height: 65px;
  background-color: #f4a900;
  position: relative;
  font-size: 23px;
  color: #fff;
  border-radius: 0px 0px 5px 5px;
}
.logo-huna {
  width: 100%;
  height: 130px;
  position: relative;
}
.logo {
  position: relative;
  width: 72px;
  margin: 6px 14px 0px 8px;
}
.react-simple-keyboard {
  position: absolute;
  bottom: 0;
  padding: 13px 150px !important;
  background-color: #ececec !important;
}
.react-simple-keyboard .hg-button {
  height: 48px !important;
}
.img-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 45px;
  width: 118px;
  margin-top: 10px;
}
.inp-username, .inp-password {
  display: block;
  width: 100%;
  margin-top: 18px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px 4px;
  border: 1px solid #ccc;
}
.text-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* Header page*/
.box-header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: -5px 7px 25px -15px rgb(110, 110, 110);
  position: relative;
}
.title-page {
  font-family: 'Roboto-Bold';
  font-size: 25px;
  text-align: left;
  line-height: 80px;
  display: inline-block;
  position: absolute;
}
.account-info-box {
  display: inline-block;
  float: right;
}
.account-info-box .account-text {
  line-height: 80px;
  margin-right: 60px;
  position: relative;
}
.account-info-box .account-text .text {
  margin-left: 7px;
  font-weight: bold;
}
.account-info-box .account-text .icon-shrink::before {
  position: absolute;
  position: absolute;
  top: 38%;
  right: -45px;
  font-size: 20px;
  color: #989898;
}
/* Footer page*/
.footer {
  width: 100%;
  height: auto;
}
.footer .container-footer {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  width:100%;
}
.footer .container-footer .tab {
  width: 25%;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  background: #7d0000;
  border-left: 1px solid #919800;
  text-align: center;
  line-height: 85px;
}
.footer .container-footer .tab .tab-link.active{
  border-bottom: 7px solid #dee809;
  line-height: 78px;
  color: #dee809;
}
.footer .container-footer .tab .tab-link {
  font-family: 'Roboto-Bold';
  text-transform: uppercase;
  line-height: 85px;
  color: #fff;
  display: block;
  text-decoration: none;
}
.footer .container-footer span {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

/* Content page*/
/* Order page*/
.container {
  padding: 0 12px;
}
.categories-block {
  width: 11%;
  display: inline-block;
  box-shadow: 2px 0px 27px -7px rgba(82, 82, 82, 0.47);
}
.categories-block {
  height: 603px;
  overflow-y: scroll;
  overflow: hidden;
}
.categories-block .categories-tab .tab {
  height: 86px;
  border-bottom: 1px solid #cacaca;
  color: #000;
}
.categories-block .categories-tab .tab.tab-active {
  background-color: #ffae21;
  color: #fff;
  background-color: #f4a900;
}
.categories-block .categories-tab .tab a {
  font-family: 'Roboto-Bold';
  font-size: 17px;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}
.order-content-page {
  width: 89%;
  display: inline-block;
  float: right;
  height: 600px;
  background-color: rgba(234, 234, 234, 0.69);
  padding: 0;
}

/* Content order */
.content-order {
  width: 100%;
  height: auto;
}
.item-order-block {
  width: 58%;
  display: inline-block;
  height: 600px;
  overflow-y: auto;
  padding: 10px 10px 10px 12px;
  overflow: auto
}
.item-order-block .item-order-box .item-order {
  width: 23%;
  height: 85px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 4px;
  box-shadow: 1px 1px 6px -3px rgba(82,82,82,1);
  margin: 0px 10px 10px 0px;
  display: inline-block;
}
.item-order-block .item-order-box .item-order .item-text {
  font-family: 'Roboto-Bold';
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.item-order-block .item-order-box .item-order .item-text .text, .price {
  display: block;
}
.item-order-block .item-order-box .item-order .item-text .text {
  margin-bottom: 7px;
}
.item-order-block .item-order-box .item-order .item-text .price {
  font-size: 13px;
}
.item-order-block .item-order-box .item-order.active {
  color: #f4a900;
  border: 1px solid #f4a900;
}
.item-order-block .item-order-box .item-order:active {
  background-image: linear-gradient(#fffefe0f, #ececec);
}
/* Bill Block */
.table-box-block input {
  border-radius: 4px 4px;
  border: 1px solid #ccc;
  padding: 7px;
  text-align: center;
}
.bill-order-block {
  width: 42%;
  height: 600px;
  display: inline-block;
  float: right;
  padding: 10px 12px 0px 0px;
}
.bill-box {
  border: 1px solid #ddd;
  border-radius: 5px 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 5px #c7c7c78c;
}

.title-bill, .number-bill, .date-bill {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}
.title-bill, {
  font-size: 17px !important;
}
.bill-header {
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  height: 125px;
}
.title-bill {
  font-family: 'Roboto-Bold';
  font-weight: bold;
}
.bill-header .left-header {
  width: 55%;
  height: auto;
  display: inline-block;
}
.bill-header .right-header {
  width: 45%;
  height: auto;
  display: inline-block;
  float: right;
}
.bill-header .people-promotion-header {
  float: left;
  width: 100%;
  margin-top: 8px;
}
.bill-header .right-header .btn-copy-bill {
  float: right;
}
.bill-header .right-header .btn-copy-bill:active {
  background-image: linear-gradient(#fffefe00, #0202026e);
}
.bill-header .right-header .table-box-block .number-table-text {
  display: inline-block;
  line-height: 28px;
  float: left;
  font-size: 15px;
}
.bill-header .right-header .table-box-block input {
  width: 65px;
  float: right;
  height: 30px;
}

.bill-content {
  width: 100%;
}
.time-bill {
  margin-left: 5px;
}
.bill-title p {
  font-family: 'Roboto-Bold';
  font-weight: bold;
 /* width: 23%;*/
  display: inline-block;
  text-align: center;
  padding: 12px 10px;
  font-size: 14px;
}
.bill-title {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.bill-content .bill-price, .bill-quatium, .bill-total {
  margin: 0 !important;
  border: none !important;
}
.bill-content .bill-price {
  width: 20% !important;
}
.bill-content .bill-quatium {
  width: 24% !important;
}
.bill-item .text-item {
  width: 28% !important;
  height: auto;
}
.bill-item .price-item {
  text-align: center;
} 

.text-item, .price-item, .quantum-item, .total-price-item {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  vertical-align: top;
  height: 48px;
}
/*.quantum-item {
  width: 24% !important;
}*/
.price-block .bill-item {
  width: 28% !important;
}
.price-block .quantum-item {
  width: 31% !important;
}
.price-block .total-price-item {
  width: 31% !important;
}
.bill-calculate .bill-item {
  border-bottom: 1px solid #ccc;
 /* height: 48px;*/
 position: relative;
}
.price-item {
  width: 29% !important;
}
.icon-cancel-box {
  display: inline-block;
  width: 8%;
  height: 48px;
  text-align: center;
}
.btn-cancel-row {
  width: 2%;
  display: inline-block;
  height: 48px;
  text-align: center;
}
.bill-item .text-item {
  padding: 8px 5px 0 7px;
  font-size: 14px;

}
.minus-quantum, .plus-quantum, .text-quantum, .btn-cancel-row {
  display: inline-block;
}
.minus-quantum, .plus-quantum {
  width: 27px;
  height: 30px;
}
.minus-quantum {
  float: left;
}
.plus-quantum {
  float: right;
}
.bill-content .text-quantum {
  line-height: 30px;
}
.bill-content .text-price, .total-price-text, .calculate-box, .icon-cancel-box {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}
.bill-content .info-block {
  width: 100%;
}
.bill-content .info-block .text{
  font-family: 'Roboto-Medium';
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bill-content .bill-calculate {
  height: 190px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  overflow-y: scroll;
}
.bill-content .calculate-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  float: left;
}
.bill-results {
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  font-family: 'Roboto-Medium';
}
.bill-results .text{
  width: 50%;
  text-align: left;
  display: inline-block;
  position: relative;
}
.bill-results .text .icon-credit-card::before {
  right: 5px;
  position: absolute;
  font-size: 25px;
  color: #195ffe;
}
.bill-results .text-results{
  width: 50%;
  text-align: right;
  display: inline-block;
}
.calculate-tmp, .discount, .discount-after, .outlay,.exchange {
  padding: 7px 10px;
}
.discount {
  position: relative;
}
.discount .inp-discount {
  /*width: 50%;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  border-radius: 4px 4px;
  text-align: center;
  padding-left: 10px;
  padding-right: 95px;*/
}
/*.inp-outlay {
  display: inline-block;
  width: 50%;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px 4px;
  line-height: 18px;
  text-align: right;
}*/
.bill-results .outlay button {
  display: none;
}
.bill-results .outlay input {
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px 4px;
  line-height: 18px;
  text-align: right;
}
.inp-discount, .bg-discount {
  display: inline-block;
  width: 25%;
  border: 1px solid #ccc;
  padding: 5px;
  height: 30px;
}
.bill-results .bg-discount {
  background-color: #ccc;
  position: absolute;
  right: 10px;
  width: 85px;
  border-radius: 0px 4px 4px 0px;
  white-space: nowrap;
  overflow: hidden;
}
.bill-results .discount-text {
  line-height: 18px;
  text-align: right;
}

.bill-footer {
  width: 100%;
  padding: 8px 7px;
  background-color: #fff;
  text-align: center;
}
.bill-footer .fill-again {
  background-color: #52555c;
}
.save {
  background-color: #0062dc;
}
.pay {
  background-color: #20c100;
}
.bill-footer .fill-again, .save, .pay {
  width: 30%;
  border: none;
  color: white;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 3px 3px;
  margin: 0 5px;
}

.btn {
  padding: 12px 10px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 3px 3px;
}
.close-add-info {
  margin-right: 10px;
  width: 30%;
  background-color: #52555c;
  font-size: 14px;
}
.save-update-info {
  margin-left: 10px;
  width: 30%;
  background-color: #20c100;
}

.modal {
  background-color: rgba(0, 0, 0, 0.58);
  width: 100%;
  height: 768px;
}
.tmp-bill .sk-fade-in.sk-spinner.sk-circle{
  top: 50%;
  position: absolute !important;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30px !important;
  height: 30px !important;
}
.tmp-bill, .table-view-order {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
.tmp-bill td, .tmp-bill th {
  padding: 8px;
}
.table-scroll {
  height: 478px;
  overflow-y: scroll;
}
.tmp-bill tbody tr td {
  line-height: 25px;
  font-size: 15px;
}
.tmp-bill tr {
  background-color: #fff;
  border: 1px solid #ddd;
}
.tmp-bill th {
  font-family: 'Roboto-Bold';
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f7f5f5;
  background-image: linear-gradient(#fffefe, #fffefe0f);
}
.table-view-order {
  width: 100%;
}

.table-view-order tbody tr td {
  line-height: 40px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.table-view-order tr {
  background-color: #fff;
  border: 1px solid #ddd;
}
.table-view-order th {
  font-family: 'Roboto-Bold';
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7f5f5;
  background-image: linear-gradient(#fffefe, #fffefe0f);
  font-size: 12px;
  text-align: center;
}

.temporary-bill-page, .show-order-block, .temporary-bill-page-tmp {
  height: 600px;
  background-color: rgba(234, 234, 234, 0.69);
}
.temporary-bill-page .content{
  padding: 0px 10px;
}
.temporary-bill-page-tmp {
  padding: 0px 22px;
}
.show-order-block {
  padding: 22px 0;
}
.content-block {
  width: 100%;
  float: left;
}
.price-box {
  width: 20%;
  display: inline-block;
  padding-right: 10px;
  float: left;

}
.table-box {
  display: inline-block;
  float: left;
  width: 80%;
  position: relative;
  z-index: 0;
}
.price-box .price-total, .discount-total, .bill-total-tmp {
  font-family: 'Roboto-Bold';
  width: 100%;
  display: inline-block;
  background-color: #fff;
  padding: 12px 10px;
  text-align: center;
  margin-bottom: 22px;
  border: 1px solid #ddd;
}
.price-box .text, .price-text, .bill-total-text {
  line-height: 30px;
}
.price-box .text {
  font-size: 12px;
}
.price-text, .bill-total-text {
  font-size: 23px;
}
.price-box p {
  margin-bottom: 10px;
}
.price-text-color {
  color: red;
}
.price-discount-color {
  color: blue;
}
.bill-total-text {
  color: #4ad605;
}
.btn-copy-bill {
  width: 100%;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px 3px;
  background-color: #195fff;
}
.search-order-block {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}
.search-order {
  width: 100%;
  line-height: 25px;
  border: 1px solid #ccc;
  padding: 4px 16px;
  position: relative;
}
.datetime-picker {
  border-radius: 0px 0px !important;
  border-left: none;
  line-height: 25px;
  border: 1px solid #ccc;
  width: 260px !important;
  padding: 4px 16px !important;
  z-index: 0 !important;
}
.table-box-block {
  width: 100%;
  margin-top: 7px;
  float: left;
}
.table-box-block button {
  display: none;
}
.datepicker-box .datetime-picker.datetime-picker-popup {
  top: 35px !important;
  z-index: 2 !important;
}
.search-order-block .search-box {
  width: 70%;
  display: inline-block;
  float: left;
}
.search-order-block .datepicker-box {
  position: absolute;
  width: 20%;
  display: inline-block;
  float: right;
}
.info-plus-block, .view-order-block {
  font-family: 'Roboto-Bold';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 2px 2px;
  width: 38%;
  height: auto;
  display: inline-block;
  text-align: center;
/*  overflow: hidden;*/
}
.header-info-plus .close-model.icon-cross::before {
  font-size: 13px;
}
.info-plus-block .header-info-plus, .header-view-order {
  color: #fff;
  background-color: #840101;
  float: left;
  width: 100%;
  padding: 12px 16px;
  font-size: 15px;
}
.cancel-order-block {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border-radius: 2px 2px;
  width: 38%;
  height: auto;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.cancel-order-block .header-order-block {
  padding: 15px 10px;
  margin-top: 38px;
  position: relative;
}
.cancel-order-block .header-order-block .close-cancel-form {
  position: absolute;
  right: 20px;
  top: -20px;
}
.cancel-order-block .header-order-block p {
  line-height: 22px;
}
.text-title {
  float: left;
  font-size: 15px;
}
.name-product-info {
  float: right;
}
.close-model {
  float: right;
  margin-left: 16px;
}
.content-info-plus {
  float: left;
  width: 100%;
}
.checkbox-inp-block {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 53px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.checkbox-block {
  float: left;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  text-align: left;
}

.text-note-info {
  text-align: left;
  padding: 15px;
}
.content-item-info .item-block-info .item-note-box {
  width: 100%;
  float: left;
  margin-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.item-info {
  width: 100%;
  float: left;
  padding: 8px 0px 15px 0px;
}
.content-item-info {
  float: left;
  width: 100%;
}
.checkbox-item-discount {
  display: inline-block;
  width: 25%;
  float: left;
  padding-left: 15px;
}
.input-item-discount {
  width: 75%;
  display: inline-block;
  float: left;
}
.item-info-discount {
  width: 100%;
  padding: 8px 0px 15px 0px;
  border-bottom: 1px solid #ccc;
  float: left;
  pointer-events: none;
}
.content-item-info .item-block-info {
  width: 100%;
  float: left;
}
.content-item-info .item-block-info.item-block-info-scroll{
  overflow-y: scroll;
  height: 200px;
}
.checkbox-item {
  width: 25%;
  display: inline-block;
  float: left;
  text-align: left;
  padding-left: 15px;
}
.item-note-box .checkbox-item button {
  display: none;
}
.item-note-box .checkbox-item input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 53px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.input-item {
  width: 75%;
  float: right;
  display: inline-block;
  text-align: left;
  position: relative;
}
.input-item .multi-select {
  width: 86% !important;
}
.input-item .multi-select .selected-options {
  border-radius: unset !important;
  width: 100% !important; 
  line-height: 20px !important;
  padding: 7px 0px 5px 10px !important;
}
.input-item .text-price-discount {
  position: absolute;
  right: 52px;
  top: 9px;
}
.input-item .input-inp-block {
  height: 35px;
  width: 80%;
  border: 1px solid #ccc;
  padding: 10px;
  float: left;
}

.add-new-item-info {
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
}
.add-new-item-info-text {
  color: blue;
  padding: 10px 15px 15px 15px;
  text-align: left;
}
.content-info-plus .item-block-info .item-note-box:last-child {
  border-bottom: none;
  margin-bottom: 0 !important;
}
.footer-info-plus {
  width: 100%;
  float: left;
  padding: 10px 0px;
}
.checkbox-inp-block.discount.cb-active, .checkbox-inp-block.cb-active {
  background-color: #ffb100 !important;
/*  border: none;*/
}
.checkbox-inp-block.discount.cb-active.icon-checkmark:before {
  font-size: 21px;
  position: relative;
  top: -3px;
  color: white;
}
.dropdown-discount, .dropdown-cancel-order {
  width: 86%;
  padding: 7px 10px;
  border-radius: 4px 4px;
}
.input-item-icon.icon-bin {
  font-size: 18px;
  position: relative;
}
.input-item-icon.icon-bin:before {
  top: 2px;
  left: 13px;
  content: "\E9AC";
  position: absolute;
}
.item-block-info .title-item, .title-item-left, .title-item-right {
  width: 100%;
  float: left;
  font-size: 12px;
}
.title-item-left-discount {
  width: 25%;
  padding-left: 15px;
}
.title-item-right-discount {
  width: 75%;
}
.title-item-left-discount, .title-item-right-discount {
  display: inline-block;
  font-size: 12px;
}
.item-block-info .title-item-left {
  width: 25%;
  padding-left: 15px;
}
.item-block-info .title-item-right {
  width: 75%;
}
.item-block-info .title-item {
  text-align: left;
}
.icon-cancel-box.icon-bin:before {
  position: absolute;
  top: 14px;
  left: -6px;
  font-size: 18px;
}

.content-info-plus .checkbox-block .checkbox-block-left {
  width: 25%;
  float: left;
  display: inline-block;
}

.content-info-plus .checkbox-block .text-discount-right {
  width: 75%;
  float: left;
  display: inline-block;
}

.item-block-info-discount {
  width: 100%;
  float: left;
}

.item-info-discount .inp-price-discount-text {
  width: 86%;
  height: 35px;
  border: 1px solid #ccc;
  padding: 10px;
}
.checkbox-block-header {
  width: 100%;
  float: left;
  padding: 15px 15px 0px 15px;
}
.checkbox-discount-text {
  line-height: 35px;
}
.title-item-discount {
  margin-top: 12px;
}
.padding-header {
  padding-bottom: 15px !important;
}
.cancel-footer {
  padding: 10px 0px;
  border-top: 1px solid #ccc;
}
.dropdown-block {
  margin-bottom: 15px;
}
.code-text {
  font-weight: 700;
}
.yes-cancel {
  background-color: #d42b2b;
  margin-left: 10px;
  width: 30%;
}
.footer-view-order {
  font-size: 12px;
  padding: 12px;
  border: 1px solid #ddd;
}
.footer-view-order, .view-order-price-tmp, .view-order-discount, .view-order-after-discount, .view-order-custumer-price {
  width: 100%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}
.view-order-price-tmp, .view-order-discount, .view-order-after-discount, .view-order-custumer-price, .view-order-back-price {
  margin-bottom: 14px;
}
.footer-view-order .title-left, .title-right, .price-right {
  float: left;
  display: inline-block;
}
.view-order-back-price .title-text, .title-text-right{
  display: inline-block;
}
.view-order-back-price .title-text-right {
  float: left;
  margin-left: 3px;
  font-weight: bold
}
.view-order-back-price .title-text {
  float: left;
}
.view-order-custumer-price .title-text, .title-text-right{
  display: inline-block;
}
.view-order-custumer-price .title-text-right {
  float: left;
  margin-left: 3px;
  font-weight: bold;
}
.view-order-custumer-price .title-text {
  float: left;
}
.footer-view-order .title-left {
  width: 50%;
}
.footer-view-order .title-right {
  text-align: right;
  width: 29%;
}
.footer-view-order .price-right {
  text-align: right;
  width: 21%;
}
.footer-view-order .title-left .title-text {
  text-align: left;
}
.footer-view-order .title-left .title-text.tmp{
  visibility: hidden;
}

.view-order-footer .cancel-table {
  background-color: white;
  border: 1px solid #9e9e9e;
  color: black;
  width: 30%;
}
.view-order-footer {
  padding: 10px 0px;
  border-top: 1px solid #ccc;
  float: left;
  width: 100%;
}
.table-view-order-content {
  overflow-y: scroll;
  height: 200px;
  float: left;
  width: 100%;
}
.bold {
  font-weight: bold;
}
.red {
  color: red;
}
.view-order-btn {
  background-color: #0062dc;
}
.tmp-bill .cancel-table, .view-order-btn, .print-btn {
  width: 30%;
  padding: 10px 6px;
  margin-right: 9px;
  font-size: 14px;
}
.tmp-bill .cancel-table {
  color: #5a5a5a;
}
.tmp-bill .print-btn {
  background-color: #20c100;
}

.numberic-model {
  width: 100%;
  height: 602px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.58);
  z-index: 5;
}
.numberic-box {
  width: 290px;
  height: auto;
  background-color: #fff;
  z-index: 100;
  position: relative;
  display: inline-block;
  top: 120px;
  left: 140px;
}
.numberic-box .item-numberic-box {
  width: 100%;
}
.numberic-box .item-numberic-box .numberic-button {
  display: inline-block;
  width: 33.333333%;
  height: 70px;
  border: 1px solid #dbdbdb;
  position: relative;
  vertical-align: top;
}
.numberic-box .item-numberic-box .numberic-button .number-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 28px;
}
.numberic-box .head-numberic-box {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #52555c;
}
.head-numberic-box .icon-close-numberic {
  position: absolute;
  top: 20px;
  right: 18px;
}
.head-numberic-box .icon-close-numberic:before {
  color: #e6e6e6;
  font-size: 18px;
}
.hidden {
  pointer-events: none;
  opacity: 0.4;
}
.cancel-text {
  color: red !important;
}
.success-text {
  color: #20c100 !important;
}
.temporary-bill-page-tmp .show-order-block .table-scroll{
  height: 538px !important;
  width: 100%;
  float: left;
  position: relative;
  top: -40px;
}
.temporary-bill-page-tmp .header-table-order {
  float: left;
  width: 100%;
  position: relative;
  border: 1px solid #ddd;
  z-index: 1;
}
.temporary-bill-page .header-table-order {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
  z-index: 1;
}
.temporary-bill-page .table-scroll {
  position: absolute;
}
.header-tb {
  display: inline-block;
  float: left;
}
.temporary-bill-page-tmp .header-table-order .header-table-order {
  display: inline-block;
  float: left;
}
.code-h {
  width: 15%;
}
.header-table-order .time-h {
  width: 13%;
/*  text-align: center;*/
}
.header-table-order .table-h {
  width: 9%;
}
.header-table-order .print-h {
  width: 10%;
}
.header-table-order .price-h {
  width: 13%;
}
.header-table-order .button-h {
  width: 40%;
}
.header-table-order .code-h, .time-h, .table-h, .print-h, .price-h, .button-h {
  padding: 12px 8px;
  background-color: #f7f5f5;
  background-image: linear-gradient(#fffefe, #fffefe0f);
  font-family: 'Roboto-Bold';
  font-weight: bold;
}
.table-header-view-order .table-header {
  display: inline-block;
  font-family: 'Roboto-Bold';
  padding: 12px 0;
  background-color: #f7f5f5;
  background-image: linear-gradient(#fffefe, #fffefe0f);
  font-size: 12px;
  text-align: center;
}
.table-header.item-h {
  width: 35%;
}
.table-header.bill-h {
  width: 20%;
}
.table-header.quantum-h {
  width: 10%;
}
.table-header.promotion-h {
  width: 10%;
}
.table-header.total-h {
  width: 25%;
}
.view-order-block .table-view-order-content .table-view-order {
  position: relative;
  top: -37px;
  z-index: 0;
}
.display-input {
  pointer-events:none;
  background-color: #ccc;
}
.bill-item .note-item {
  font-size: 11px;
  margin: 0 3px;
  position: relative;
 /* border-bottom: 1px solid #ccc;*/
  padding: 4px 0;
}

.bill-item .text-item.add-note-item {
  line-height: 34px;
}
.btn-active:active{
  background-image: linear-gradient(#fffefe00, #0202026e);
}
.note-item .note-name-item {
  display: inline-block;
  margin-left: 20px;
  padding-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.note-item .note-name-item p {
  margin-bottom: 3px;
}
.note-item .note-name-item .custom-one {
  position: absolute;
  transform: translateY(-50%);
  left: 26px;
}
.note-item .note-quatum-item {
  position: absolute;
  top: 50%;
  left: 7px;
  font-size: 9px;
  transform: translate(-50%,-50%);
}
.table-view-order.display-header {
  position: unset !important;
}
.validation-text {
  position: relative;
  top: -11px;
  color: red;
}
.bill-item .price-block{
  display: inline-block;
  width: 72%;
}
.screen-show .number-show{
  font-size: 42px;
  line-height: 50px;
  padding: 0 15px;
  text-align: right;
  height: 65px;
}

.template-print {
  margin-top: 34px;
  display: none;
  font-size: 17px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 240px;
}
.header-print {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.info-print {
  text-align: left;
  margin-bottom: 30px;
}
.info-print p {
  margin-bottom: 5px;
}  
.content-print {
  margin-bottom: 30px;
  text-align: center;
}
.content-print .content-title {
  width: 100%;
  margin-bottom: 15px;
}
.content-print .content-title .content-name, .content-quatum, .content-promotion, .content-price {
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
}
.content-print .content-info {
  width: 100%;
  margin-bottom: 10px;
}
.content-print .content-info p{
  display: inline-block;
  font-size: 15px;
}
.content-print .content-name, .content-info-name {
  width: 40%;
}
.content-print .content-quatum, .content-info-quatum{
  width: 15%;
}
.content-print .content-promotion, .content-info-promotion {
  width: 20%;
}
.content-print .content-price, .content-info-price {
  width: 25%;
}

@media print {
  .template-print{
     display:inline-block;
  }
}

.template-print .total-price-print {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
.template-print .total-price-print .text, .price{
  display: inline-block;
}
.template-print .total-price-print .text {
  float: left;
}
.template-print .total-price-print .price {
  float: right;
}
.loading {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
}

.people-promotion-header .title-header, .combobox-header {
  display: inline-block;
  float: left;
  font-size: 15px;
}
.people-promotion-header .combobox-header {
  width: 60%;
}
.people-promotion-header .combobox-header .options  {
  height: unset !important
}
.people-promotion-header .combobox-header .multi-select  {
  height: 30px !important;
}
.people-promotion-header .combobox-header .arrow  {
  line-height: 28px !important;
}
.people-promotion-header .title-header {
  line-height: 31px;
  width: 40%;
}

.people-promotion-header .margin-top-right {
  margin: 0 !important;
}
.bill-content .bill-title .bill-item {
  width: 28%;
}
.payment-content {
  width: 100%;
  float: left;
}
.payment-content {
  text-align: center;
  position: relative;
  width: 100%;
  top: 9px;
}
.button-block {
  width: 100%;
  float: left;
}
.payment-content .button-block button {
  margin: 10px 5px;
  width: 30%;
  background-color: #55c757;
  display: inline-block;
}
.info-plus-block.payment-block {
  width: 55% !important;
}
.payment-content .total-bill-block .title-total-bill-block, .price-total-bill-block {
  width: 50%;
  display: inline-block;
}
.payment-content .total-bill-block .title-total-bill-block, .price-total-bill-block button {
  display: none;
}
.payment-content .total-bill-block .title-total-bill-block, .price-total-bill-block input {
  text-align: right;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 18px;
}
.payment-content .total-bill-block {
  padding: 20px;
  float: left;
  width: 100%;
}
.payment-content .total-bill-block .title-total-bill-block {
  text-align: left;
  display: inline-block;
}
.payment-content .total-bill-block .price-total-bill-block {
  text-align: right;
}
/*.payment-content .total-bill-block .price-total-bill-block .price-total-bill-input {
  text-align: right;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 18px;
}*/
.payment-content .total-bill-block .price-total-bill-block .price-total-bill-input:focus {
  outline: none;
}
.payment-content .detail-payment-block .title{
  text-align: left;
  display: inline-block;
  width: 50%;
}
.payment-content .detail-payment-block .price{
  text-align: right;
  display: inline-block;
  width: 50%;
}
.detail-payment-block .need-payment-block, .customer-payment-block, .customer-card-block {
  float: left;
  width: 100%;
}
.detail-payment-block .need-payment-block {
  padding: 10px 20px;
}
.detail-payment-block .customer-payment-block, .customer-card-block {
  padding: 10px 20px 10px 70px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.button-block .btn.choose {
  background-color: #368e37 !important;
}
.detail-payment-block .customer-payment-block .title {
  position: relative;
}
.detail-payment-block .customer-payment-block .title .icon-cross::before {
  position: absolute;
  left: -30px;
  font-size: 14px;
  color: #e65454;
  top: 2px;
}
.customer-payout-block {
  width: 100%;
  padding: 10px 20px;
  float: left;
  margin-bottom: 25px;
}
.detail-payment-block .customer-card-block .title {
  position: relative;
  width: 30%;
}
.detail-payment-block .customer-card-block .select-number-account {
  width: 50%;
  display: inline-block;
}
.detail-payment-block .customer-card-block .select-number-account .selected-options {
  height: 30px !important;
}
.detail-payment-block .customer-card-block .select-number-account .selected-options .selected-options-badges {
  margin: 0px 5px 2px 0;
}
.detail-payment-block .customer-card-block .select-number-account .arrow {
  margin-top: 9px !important; 
}
.detail-payment-block .customer-card-block .select-number-account .options {
  height: unset;
}
.detail-payment-block .customer-card-block .title .icon-cross::before {
  position: absolute;
  left: -30px;
  font-size: 14px;
  color: #e65454;
  top: 2px;
}
.detail-payment-block .customer-card-block .price {
  text-align: right;
  width: 20%;
}
.customer-payout-block .customer-payment-block .title {
  text-align: left;
  display: inline-block;
  width: 50%;
}
.payment-content .customer-payment-block .price{
  text-align: right;
  display: inline-block;
  width: 50%;
}
.outlay .type-payment-show {
  position: absolute;
  top: 24px;
  font-size: 11px;
  left: 0;
  font-family: 'Roboto-Regular';
  color: #717171;
}
.bill-results .outlay .text .icon-credit-card.hidden {
  color: #757575 !important;
}
/*.bill-item .item-block .note-item:last-child {
  border-bottom: unset;
}*/
.bill-results .discount input {
  width: 50%;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  border-radius: 4px 4px;
  text-align: center;
  padding-left: 10px;
  padding-right: 95px;
  height: 30px;
  border: 1px solid #ccc;
}
.bill-results .discount button {
  display: none;
}
.display-outlay {
  pointer-events: none;
}
.outlay .outlay-box {
  width: 50%;
  display: inline-block;
}
.display-background {
  background-color: unset !important;
}